{% extends 'adminbase.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">User List Page </h2>

                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin" class="breadcrumb-link">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit User</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('admin_user_index') }}" class="btn btn-space btn-primary">Back to list</a>

                {{ include('admin/user/_delete_form.html.twig') }}

            </div>
        </div>
    </div>

    {% endblock %}

