<main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="swiper-wrapper">
                <img class="card-img rounded-0" src="{{ asset('assets') }}/img/blog/blog-slider/5.jpg" alt="">
                <div class="hero-banner__content">
                    <h3>Programlama & Web</h3>
                    <h1>PROGRAMLAMA ÖĞREN</h1>
                    <h4>December 12, 2018</h4>
                </div>
            </div>
        </div>
    </section>
    <!--================ Blog slider start =================-->

    <!--================ Blog slider end =================-->
</main>